* {
 	font-family:sans-serif;
}
.right {
	text-align:right;
	float:right;
}
.wide {
	width:100%;
}
.noborder {
	border:none;
	border-collapse:collapse;
	border-spacing:0px;
}
html {
	height:100%;
}
body {
	margin:0px;
	height:100%;
}
div#pageHeader {
        color:white;
        background:rgb(0,25,70);
        padding:5px 10px;
        border-width:0px 0px 1px 0px;
        border-color:rgb(100, 190, 220);
        border-style:solid;
        position:relative;
        font-size:10pt;
}
td#navWrapper {
        padding-top:0px;
        padding-left:20px;
        padding-right:0px;
        background:#DCDCDC;
        vertical-align:top;
        position:relative;
        height:100%;
        width:180px;
        margin:0px;
}
table#navLinkTable {
	margin-top:20px;
	border-spacing:0px 10px;
	border:none;
}
td.navLink.selected {
	background:white;
}
td.navLink {
	font-size:12pt;
	cursor:pointer;
	padding-left:10px;
	padding-top:3px;
	vertical-align:middle;
	font-style:italic;
}
table#boxWrapper {
        width:100%;
        height:100%;
}
td#viewWrapper {
        background:white;
        height:100%;
        vertical-align:top;
}
table#calendarViewSelect td {
	font-size:10pt;
	font-style:italic;
	text-align:center;
	width:100px;
	cursor:pointer;
}
table#newTripTable {
	width:100%;
}
#tripCalendar {
	margin:20px;
}
#registerVehicleBtn {
	font-size:12pt;
	padding:3px 20px;
	margin:20px 0px 10px 20px;
}
#vehicleTable {
	margin:0px 20px;
}
#vehicleTable thead th {
	padding:5px 0px 5px 10px;
	font-weight:normal;
	font-style:italic;
	font-size:12pt;
	text-align:left;
	background:#EEE;
}
#tableFoot {
	margin:0px 20px;
}
